

<div class="grid view-container">

        <div class="col-3 col-md-3">
        </div>        

        <p-card class="col-5 col-md-5" header="Swap">

            <form [formGroup]="LPFormGroup" (ngSubmit)="confirmSwapModal()">

            <div class="flex flex-column card-container">
                
                    <div class="p-inputgroup flex align-items-center justify-content-center">

                        <input type="number" pInputText formControlName="inputFirst" class="form-control"  placeholder="0.0">
                        <button type="button" class="p-button-raised p-button-help" pButton pRipple label="ETH" icon="pi pi-chevron-circle-down"
                        iconPos="right" (click)="launchSelectTokenModal()"></button>
                    
                    </div>

                    <div *ngIf="f.inputFirst?.touched && f.inputFirst?.invalid">
                        <p-message *ngIf="f.inputFirst.errors?.nullInput" severity="error" text="Input cannot be empty"></p-message>
                        <p-message *ngIf="f.inputFirst.errors?.invalidInput" severity="error" text="Input cannot be equal or smaller than zero"></p-message>
                    </div>
                    <br>

                    <div class="p-inputgroup flex align-items-center justify-content-center">
                        <button pButton type="button" icon="pi pi-sort-alt" class="p-button-rounded p-button-help"></button>
                    </div>
                    <br>
                
                    <div class="p-inputgroup flex align-items-center justify-content-center">

                        <input type="number" pInputText placeholder="0.0" formControlName="inputSecond" class="form-control">  
                        <button type="button" class="p-button-raised p-button-help" pButton pRipple label="Select a token" icon="pi pi-chevron-circle-down" iconPos="right"></button>

                    </div>

                    <div *ngIf="f.inputSecond?.touched && f.inputSecond?.invalid">
                        <p-message *ngIf="f.inputSecond.errors?.nullInput" severity="error" text="Input cannot be empty"></p-message>
                        <p-message *ngIf="f.inputSecond.errors?.invalidInput" severity="error" text="Input cannot be equal or smaller than zero"></p-message>
                    </div>
                
            </div>

            <div class="flex justify-content-end flex-wrap">
                <div class="flex align-items-center justify-content-center">
                    <p-button label="Swap" type="submit" [disabled]="!LPFormGroup.valid" styleClass="p-button-lg p-button-rounded p-button-help"></p-button>
                </div>
            </div>

        </form>
        </p-card>

</div>

<p-dialog header="Select a token" [(visible)]="selectTokenModal" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [maximizable]="true" [closable]="true">
    
<p-listbox [options]="tokens" [(ngModel)]="selectedToken" [metaKeySelection]="false" [checkbox]="false"
  [filter]="true" [multiple]="false" optionLabel="name" [listStyle]="{'max-height':'200px'}">
  <ng-template let-token pTemplate="item">
    <div class="token-item">
      <div>{{token.name}}</div>
    </div>
  </ng-template>
</p-listbox>

</p-dialog>
