<br>
<div class="grid">

    <div class="col-1 col-md-1">
    </div>

    <div class="col-8 col-md-8">

        <p-card header="Create new item">
            <b>File type supported JPG, PNG, GIF. Max size: 40MB</b>
            <p class="p-m-0">Please select the NFT image file you will like to mint.</p>

            <p-fileUpload #fileUpload 
            mode="basic" 
            chooseLabel="Browse"
            accept=".txt" 
            [auto]="true" 
            [maxFileSize]="1000000" 
            [customUpload]="true">
            </p-fileUpload>

        </p-card>
        
    </div>
    
</div>

